LPCO_COMPOSITE/src/jbiServiceUnits/LPCO_BPEL_MODULE/127.0.0.1_8080/CameraSupplierWS/CameraSearch.wsdl

<definitions name='CameraSearchService' targetNamespace='www.camerasupplierws.com' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='www.camerasupplierws.com' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='www.camerasupplierws.com' version='1.0' xmlns:tns='www.camerasupplierws.com' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='searchCamera' type='tns:searchCamera'/>
   <xs:element name='searchCameraResponse' type='tns:searchCameraResponse'/>
   <xs:complexType name='searchCamera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='searchCameraResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:camera'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='camera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='brand' type='xs:string'/>
     <xs:element minOccurs='0' name='description' type='xs:string'/>
     <xs:element minOccurs='0' name='effectivePixels' type='xs:string'/>
     <xs:element minOccurs='0' name='ISOrating' type='xs:string'/>
     <xs:element minOccurs='0' name='imageRatio' type='xs:string'/>
     <xs:element minOccurs='0' name='linkInDepthReview' type='xs:string'/>
     <xs:element minOccurs='0' name='linkPicture' type='xs:string'/>
     <xs:element minOccurs='0' name='lowResolution' type='xs:string'/>
     <xs:element minOccurs='0' name='maxResolution' type='xs:string'/>
     <xs:element minOccurs='0' name='maxShutter' type='xs:string'/>
     <xs:element minOccurs='0' name='minShutter' type='xs:string'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='page' type='xs:string'/>
     <xs:element minOccurs='0' name='price' type='xs:string'/>
     <xs:element minOccurs='0' name='releasedDate' type='xs:string'/>
     <xs:element minOccurs='0' name='sensorSize' type='xs:string'/>
     <xs:element minOccurs='0' name='summary' type='xs:string'/>
     <xs:element minOccurs='0' name='urlReview' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='CameraSearch_searchCameraResponse'>
  <part element='tns:searchCameraResponse' name='searchCameraResponse'></part>
 </message>
 <message name='CameraSearch_searchCamera'>
  <part element='tns:searchCamera' name='searchCamera'></part>
 </message>
 <portType name='CameraSearch'>
  <operation name='searchCamera' parameterOrder='searchCamera'>
   <input message='tns:CameraSearch_searchCamera'></input>
   <output message='tns:CameraSearch_searchCameraResponse'></output>
  </operation>
 </portType>
 <binding name='CameraSearchBinding' type='tns:CameraSearch'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='searchCamera'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='CameraSearchService'>
  <port binding='tns:CameraSearchBinding' name='CameraSearchPort'>
   <soap:address location='http://127.0.0.1:8080/CameraSupplierWS/CameraSearch'/>
  </port>
 </service>
</definitions>