LPCO_BPEL_MODULE/src/127.0.0.1_8080/IS-TP2-EJB/UserManager.wsdl

<definitions name='UserManagerService' targetNamespace='www.usermanagerws.com' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='www.usermanagerws.com' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='www.usermanagerws.com' version='1.0' xmlns:tns='www.usermanagerws.com' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='addUser' type='tns:addUser'/>
   <xs:element name='addUserResponse' type='tns:addUserResponse'/>
   <xs:element name='checkLogin' type='tns:checkLogin'/>
   <xs:element name='checkLoginResponse' type='tns:checkLoginResponse'/>
   <xs:element name='userExists' type='tns:userExists'/>
   <xs:element name='userExistsResponse' type='tns:userExistsResponse'/>
   <xs:complexType name='checkLogin'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='checkLoginResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='addUser'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
     <xs:element minOccurs='0' name='arg1' type='xs:string'/>
     <xs:element minOccurs='0' name='arg2' type='xs:string'/>
     <xs:element minOccurs='0' name='arg3' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='addUserResponse'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='userExists'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='userExistsResponse'>
    <xs:sequence>
     <xs:element name='return' type='xs:boolean'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='UserManager_checkLogin'>
  <part element='tns:checkLogin' name='checkLogin'></part>
 </message>
 <message name='UserManager_userExists'>
  <part element='tns:userExists' name='userExists'></part>
 </message>
 <message name='UserManager_addUserResponse'>
  <part element='tns:addUserResponse' name='addUserResponse'></part>
 </message>
 <message name='UserManager_addUser'>
  <part element='tns:addUser' name='addUser'></part>
 </message>
 <message name='UserManager_userExistsResponse'>
  <part element='tns:userExistsResponse' name='userExistsResponse'></part>
 </message>
 <message name='UserManager_checkLoginResponse'>
  <part element='tns:checkLoginResponse' name='checkLoginResponse'></part>
 </message>
 <portType name='UserManager'>
  <operation name='addUser' parameterOrder='addUser'>
   <input message='tns:UserManager_addUser'></input>
   <output message='tns:UserManager_addUserResponse'></output>
  </operation>
  <operation name='checkLogin' parameterOrder='checkLogin'>
   <input message='tns:UserManager_checkLogin'></input>
   <output message='tns:UserManager_checkLoginResponse'></output>
  </operation>
  <operation name='userExists' parameterOrder='userExists'>
   <input message='tns:UserManager_userExists'></input>
   <output message='tns:UserManager_userExistsResponse'></output>
  </operation>
 </portType>
 <binding name='UserManagerBinding' type='tns:UserManager'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='addUser'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='checkLogin'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='userExists'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='UserManagerService'>
  <port binding='tns:UserManagerBinding' name='UserManagerPort'>
   <soap:address location='http://127.0.0.1:8080/IS-TP2-EJB/UserManager'/>
  </port>
 </service>
</definitions>