LPCO_COMPOSITE/src/jbiServiceUnits/LPCO_BPEL_MODULE/127.0.0.1_8080/IS-TP2-EJB/CatalogManager.wsdl

<definitions name='CatalogManagerService' targetNamespace='www.catalogmanagerws.com' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='www.camerasupplierws.com' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='www.catalogmanagerws.com' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='www.camerasupplierws.com' version='1.0' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='camera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='brand' type='xs:string'/>
     <xs:element minOccurs='0' name='description' type='xs:string'/>
     <xs:element minOccurs='0' name='effectivePixels' type='xs:string'/>
     <xs:element minOccurs='0' name='ISOrating' type='xs:string'/>
     <xs:element minOccurs='0' name='imageRatio' type='xs:string'/>
     <xs:element minOccurs='0' name='linkInDepthReview' type='xs:string'/>
     <xs:element minOccurs='0' name='linkPicture' type='xs:string'/>
     <xs:element minOccurs='0' name='lowResolution' type='xs:string'/>
     <xs:element minOccurs='0' name='maxResolution' type='xs:string'/>
     <xs:element minOccurs='0' name='maxShutter' type='xs:string'/>
     <xs:element minOccurs='0' name='minShutter' type='xs:string'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='page' type='xs:string'/>
     <xs:element minOccurs='0' name='price' type='xs:string'/>
     <xs:element minOccurs='0' name='releasedDate' type='xs:string'/>
     <xs:element minOccurs='0' name='sensorSize' type='xs:string'/>
     <xs:element minOccurs='0' name='summary' type='xs:string'/>
     <xs:element minOccurs='0' name='urlReview' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  <xs:schema targetNamespace='www.catalogmanagerws.com' version='1.0' xmlns:ns1='www.camerasupplierws.com' xmlns:tns='www.catalogmanagerws.com' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:import namespace='www.camerasupplierws.com'/>
   <xs:element name='addSearchedCamera' type='tns:addSearchedCamera'/>
   <xs:element name='addSearchedCameraResponse' type='tns:addSearchedCameraResponse'/>
   <xs:element name='getAllBrands' type='tns:getAllBrands'/>
   <xs:element name='getAllBrandsResponse' type='tns:getAllBrandsResponse'/>
   <xs:element name='getCamera' type='tns:getCamera'/>
   <xs:element name='getCameraResponse' type='tns:getCameraResponse'/>
   <xs:element name='getCameras' type='tns:getCameras'/>
   <xs:element name='getCamerasResponse' type='tns:getCamerasResponse'/>
   <xs:complexType name='getCamera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:int'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getCameraResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:camera'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='camera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='brand' type='xs:string'/>
     <xs:element minOccurs='0' name='description' type='xs:string'/>
     <xs:element minOccurs='0' name='effectivePixels' type='xs:string'/>
     <xs:element minOccurs='0' name='ISOrating' type='xs:string'/>
     <xs:element minOccurs='0' name='idCamera' type='xs:string'/>
     <xs:element minOccurs='0' name='imageRatio' type='xs:string'/>
     <xs:element minOccurs='0' name='linkInDepthReview' type='xs:string'/>
     <xs:element minOccurs='0' name='linkPicture' type='xs:string'/>
     <xs:element minOccurs='0' name='lowResolution' type='xs:string'/>
     <xs:element minOccurs='0' name='maxResolution' type='xs:string'/>
     <xs:element minOccurs='0' name='maxShutter' type='xs:string'/>
     <xs:element minOccurs='0' name='minShutter' type='xs:string'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element name='price' type='xs:float'/>
     <xs:element minOccurs='0' name='sensorSize' type='xs:string'/>
     <xs:element minOccurs='0' name='summary' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getAllBrands'>
    <xs:sequence/>
   </xs:complexType>
   <xs:complexType name='getAllBrandsResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getCameras'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='getCamerasResponse'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='return' type='tns:camera'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='addSearchedCamera'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='ns1:camera'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='addSearchedCameraResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='tns:camera'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='CatalogManager_addSearchedCamera'>
  <part element='tns:addSearchedCamera' name='addSearchedCamera'></part>
 </message>
 <message name='CatalogManager_addSearchedCameraResponse'>
  <part element='tns:addSearchedCameraResponse' name='addSearchedCameraResponse'></part>
 </message>
 <message name='CatalogManager_getCameras'>
  <part element='tns:getCameras' name='getCameras'></part>
 </message>
 <message name='CatalogManager_getCamera'>
  <part element='tns:getCamera' name='getCamera'></part>
 </message>
 <message name='CatalogManager_getCamerasResponse'>
  <part element='tns:getCamerasResponse' name='getCamerasResponse'></part>
 </message>
 <message name='CatalogManager_getCameraResponse'>
  <part element='tns:getCameraResponse' name='getCameraResponse'></part>
 </message>
 <message name='CatalogManager_getAllBrandsResponse'>
  <part element='tns:getAllBrandsResponse' name='getAllBrandsResponse'></part>
 </message>
 <message name='CatalogManager_getAllBrands'>
  <part element='tns:getAllBrands' name='getAllBrands'></part>
 </message>
 <portType name='CatalogManager'>
  <operation name='addSearchedCamera' parameterOrder='addSearchedCamera'>
   <input message='tns:CatalogManager_addSearchedCamera'></input>
   <output message='tns:CatalogManager_addSearchedCameraResponse'></output>
  </operation>
  <operation name='getAllBrands' parameterOrder='getAllBrands'>
   <input message='tns:CatalogManager_getAllBrands'></input>
   <output message='tns:CatalogManager_getAllBrandsResponse'></output>
  </operation>
  <operation name='getCamera' parameterOrder='getCamera'>
   <input message='tns:CatalogManager_getCamera'></input>
   <output message='tns:CatalogManager_getCameraResponse'></output>
  </operation>
  <operation name='getCameras' parameterOrder='getCameras'>
   <input message='tns:CatalogManager_getCameras'></input>
   <output message='tns:CatalogManager_getCamerasResponse'></output>
  </operation>
 </portType>
 <binding name='CatalogManagerBinding' type='tns:CatalogManager'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='addSearchedCamera'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getAllBrands'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getCamera'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
  <operation name='getCameras'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='CatalogManagerService'>
  <port binding='tns:CatalogManagerBinding' name='CatalogManagerPort'>
   <soap:address location='http://127.0.0.1:8080/IS-TP2-EJB/CatalogManager'/>
  </port>
 </service>
</definitions>